/* Global Styles */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif; /* Título */
    background-color: #f5fdf6cc; 
}

h1, h2 {
    font-family: 'Fira Sans', sans-serif; /* Párrafos */
    color: #2c3e50; /* Color de texto más oscuro */
}
p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
}

header {
    background-color: #134121; /* Verde oscuro tirando a negro */
    color: white;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */

}

/* Estilos para la barra superior */
.top-bar {
    background-color: #134121; /* Verde oscuro */
    color: white;
    padding: 10px 0;
    text-align: right;
    font-size: 0.9rem;
    padding: 5px 30px;

}

.top-bar .social-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.1rem;
}

.top-bar .social-links a:hover {
    color: #12972f; /* Verde más claro al hacer hover */
}
/* Menú principal */
.main-header {
    background-color: white;
    border-bottom: 2px solid #134121; /* Línea verde separadora */
    padding: 10px 0;
}

.main-header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.menu-left li {
    margin-right: 20px;
}

.menu-left li a {
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    padding: 10px 10px;

}

.menu-left li a.active {
    background-color: #3b5a58; /* Fondo más oscuro para el enlace activo */
    border-radius: 8px; /* Bordes redondeados */
}

.search-right {
    display: flex;
    align-items: center;
}

.search-right input {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.438);
    margin-right: 10px;
}

.search-btn {
    background-color: #134121;
    color: rgba(255, 255, 255, 0.438);
    padding: 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.menu-left {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center; 
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin: 0 15px;
    padding: 10px 0;
}

header nav ul li a {
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    padding: 10px 10px;
    background-color: transparent;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    align-items: center;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 100%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 10;
    right: 0; /* Alinea el menú desplegable con el lado derecho */
    border-radius: 8px; /* Añade bordes redondeados */
}

.dropdown-content a {
    color: rgb(200, 255, 200);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: #134121;
    text-align: center;
    border-bottom: 1px solid #ddd; 
}
.dropdown-content a:last-child {
    border-bottom: none; /* Elimina la línea del último elemento */
}
.dropdown-content a:hover {
    background-color: #3b5a58;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn {
    padding: 12px 20px;
    background-color: #134121;
    color: white;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
}

.dropbtn:hover {
    background-color: #3b5a58;
}
main {
    flex-grow: 1; 
}
.container {
    margin-top: 20px;
    padding: 20px;
    margin: 20px;
    border-radius: 12px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Sombra */
}

/* Footer Styling */
footer {
    background-color: #134121;
    color: white;
    text-align: center;
    padding:  0;
    position: relative;
    width: 100%;

}

footer img {
    height: 40px;
    vertical-align: middle;
    margin-bottom: 10px;
}

footer a {
    color: #4CAF50;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #388E3C;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #388E3C;
}

/* Gráfico */
#graph {
    width: 100%;
    height: 60vh;
    margin: auto;
}

/* Estilo para el contenedor de "Punto más cercano" */
#closestResult {
    padding: 20px;
    background-color: #f0f8ff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
}

#closestResult h2 {
    color: #1b2f2d;
    text-align: center;
    margin-bottom: 20px;
}

#textForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#textForm label {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #1b2f2d;
}

#textForm input {
    padding: 12px;
    font-size: 1.1rem;
    border-radius: 8px;
    border: 1px solid #ddd;
    width: 100%;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

#textForm button {
    padding: 12px 25px;
    margin-top: 15px;
    font-size: 1.1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

#textForm button:hover {
    background-color: #f5fdf6;
}

#closestPointInfo {
    font-size: 1.2rem;
    color: #333;
    text-align: center;
}

/* Tarjetas explicativas */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
}

.card {
    flex-basis: 30%;
    background-color: #f9f9f9;
    padding: 20px;
    margin: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: justify;
}

.card h2 {
    font-size: 1.5rem;
    color: #1b2f2d;
    text-align: center;
    margin-bottom: 15px;
}

.card p {
    font-size: 1.1rem;
    color: #4a706b;
}

/* Responsiveness */
@media (max-width: 768px) {
    .card {
        flex-basis: 100%;
    }

    #graph {
        height: 50vh;
        width: 60vh;
    }
}

.logo-container {
    text-align: center;
    padding: 0px 0 40px 0;
    background-color: #f5fdf6cc;

}

.footer-logo {
    width: 150px;
    opacity: 0.8;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.footer-logo:hover {
    opacity: 1;
    transform: scale(1.1);
}

/* Parallax Container */
.parallax-container {
    position: relative;
    height: 50hv;
    background-color: #f5fdf6cc;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.inspiration-container {
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px;
}

.inspiration-container .card {
    flex-basis: 30%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 1.1rem;
    color: #333;
    transition: transform 0.2s ease-in-out;
}

.inspiration-container .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.inspiration-container .card p {
    font-style: italic;
    color: #333;
}

.code-block{
    text-align: center;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .inspiration-container .card {
        flex-basis: 100%;
    }
}

.two-column-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    min-height: 100vh;
    background-color: #f4f4f4;
}

.text-column {
    flex: 1;
    padding: 20px;
    text-align: left;
}

.text-column .content-box {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 1.5rem;
    color: #333;
}

.image-column {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-column img {
    max-width: 80%;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .two-column-layout {
        flex-direction: column;
    }

    .image-column {
        margin-top: 20px;
    }
}
