/* Global Styles */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif; /* Título */
    background-color: #f5fdf6cc; 
}



h1, h2 {
    font-family: 'Fira Sans', sans-serif; /* Párrafos */
    color: #2c3e50; /* Color de texto más oscuro */
    text-align: center;
    margin-top: 50px; 
    font-size: 2.5rem
}

h3 {
    font-size: 2rem;
    text-align: center;
    margin-top: 40px;
}

/* CSS para centrar los h4 */
h4 {
    margin: 10px 0;       /* Añadir un margen para separar los títulos */
    font-size: 1.4em;     /* Ajustar el tamaño del título */
}

/* CSS para centrar los h4 */
h5 {
    margin: 10px 0;       /* Añadir un margen para separar los títulos */
    font-size: 1.2em;     /* Ajustar el tamaño del título */
}


p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
}

.bolded { font-weight: bold; }



.title-page {
    font-family: 'Arial', sans-serif;
    font-size: 3rem; /* Ajusta el tamaño de fuente */
    font-weight: bold;
    color: #2C3E50; /* Color del título, puedes cambiarlo */
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    letter-spacing: 2px; /* Espaciado entre letras para darle un toque más elegante */
    text-transform: uppercase; /* Transformar el texto a mayúsculas */
    padding-bottom: 10px;
}

header {
    background-color: #134121; /* Verde oscuro tirando a negro */
    color: white;
    padding: 10px 0;
    text-align: center;

}
.card {
    flex-basis: 30%;
    background-color: #f9f9f9;
    padding: 20px;
    margin: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: justify;
}

/* Para centrar solo la imagen dentro del contenedor */
.container img {
    display: block;  /* Asegura que la imagen se comporte como un bloque */
    margin-left: auto;
    margin-right: auto;
    max-width: 100%; /* Ajusta el tamaño máximo de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
}

.container-nobox img {
    display: block;  /* Asegura que la imagen se comporte como un bloque */
    margin-left: auto;
    margin-right: auto;
    max-width: 100%; /* Ajusta el tamaño máximo de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
}

#indice-container {
    position: relative; /* Ya no lo dejamos fijo */
    margin:  auto;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    width: 50%;
    text-align: center;
}

#indice-container h2 {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
}

#indice-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#indice-list li {
  margin-bottom: 10px;
}

#indice-list a {
  text-decoration: none;
  font-size: 14px;
  color: #013001;
  transition: color 0.2s ease-in-out;
}

#indice-list a:hover {
  color: #0056b3;
}

/* Línea negra para separar el índice del contenido */
#indice-container::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: black;
  margin-top: 15px;
}
  
/* Línea negra para separar el índice del contenido */
#indice-container::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;
    margin-top: 15px;
  }
    


.parallaxdog {
    background-image: url('/static/images/dog.webp');
    background-attachment: fixed; /* Mantiene el efecto parallax */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* No repite la imagen */
    background-size: cover; /* Ajusta la imagen para cubrir el área */
    height: 700px; /* Ajusta la altura según tus preferencias */
    width: 91%; /* Ajusta el ancho del contenedor */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    display: block; /* Asegura que el margen auto funcione */
    margin: 20px auto 0; /* Añade un margen superior de 20px, ajusta según necesites */
}

.parallaxturing {
    background-image: url('/static/images/Alan-Turing.webp');
    background-attachment: fixed; /* Mantiene el efecto parallax */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* No repite la imagen */
    background-size: cover; /* Ajusta la imagen para cubrir el área */
    height: 700px; /* Ajusta la altura según tus preferencias */
    width: 100%; /* Ajusta el ancho del contenedor */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    display: block; /* Asegura que el margen auto funcione */
    margin: 20px auto 0; /* Añade un margen superior de 20px, ajusta según necesites */
}


/* Efecto Parallax */
.parallaxhistoria {
    background-image: url('/static/images/evolucion.webp');
    background-attachment: fixed; /* Mantiene el efecto parallax */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* No repite la imagen */
    background-size: cover; /* Ajusta la imagen para cubrir el área */
    height: 700px; /* Ajusta la altura según tus preferencias */
    width: 100%; /* Ajusta el ancho del contenedor */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    display: block; /* Asegura que el margen auto funcione */
}

.parallaxaterriza {
    background-image: url('/static/images/Ideas_to_maht.webp');
    background-attachment: fixed; /* Mantiene el efecto parallax */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* No repite la imagen */
    background-size: cover; /* Ajusta la imagen para cubrir el área */
    height: 700px; /* Ajusta la altura según tus preferencias */
    width: 100%; /* Ajusta el ancho del contenedor */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    display: block; /* Asegura que el margen auto funcione */
    margin: 20px auto 0; /* Añade un margen superior de 20px, ajusta según necesites */
}

.parallaxgeogreen {
    background-image: url('/static/images/geogreenview2.webp');
    background-attachment: fixed; /* Mantiene el efecto parallax */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* No repite la imagen */
    background-size: cover; /* Ajusta la imagen para cubrir el área */
    height: 700px; /* Ajusta la altura según tus preferencias */
    width: 92%; /* Ajusta el ancho del contenedor */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    display: block; /* Asegura que el margen auto funcione */
}

.simple-image {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
    max-width: 600px; /* Limita el tamaño máximo de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    margin: 20px auto; /* Centra la imagen horizontalmente y añade espacio alrededor */
    display: block; /* Hace que la imagen se comporte como un bloque para centrarla */
    border-radius: 10px; /* Opcional: Bordes redondeados para un toque moderno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Opcional: Sombra para dar profundidad */
}  

/* Contenedor general */
.motivation-container {
    display: grid;
    grid-template-columns: 2fr 1fr; /* Text (2fr) y Imagen (1fr) */
    grid-template-rows: auto auto; /* Ajuste automático según contenido */
    gap: 20px;
    padding: 20px;
    width: 90%;
    margin: 0 auto;
    align-items: stretch; /* Hace que las alturas de las columnas coincidan */
}


/* Sección de motivación */
.motivation-left, .thoughts-creative-left {
    background-color: #f5fdf6;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra el contenido verticalmente */
}


.motivation-left p, 
.thoughts-creative-left p {
  text-align: justify;
}

/* Imagen derecha arriba */
.motivation-right-top {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

/* Imagen derecha arriba y abajo */
.motivation-right-top, .motivation-right-bottom {
    display: flex;
    align-items: stretch; /* Ajusta la imagen para que coincida en altura con el texto */
}

/* Asegura que las imágenes se estiren para coincidir con el contenido de texto */
.motivation-right-top img, .motivation-right-bottom img {
    width: 100%; /* Ancho completo */
    height: 100%; /* Se ajusta a la altura de la sección de texto */
    object-fit: cover; /* Asegura que la imagen cubra el espacio sin deformarse */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


/* Sección de línea de pensamiento y proceso creativo */
.thoughts-creative-left {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: #f5fdf6;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    height: auto; /* Asegura que la altura se ajuste al contenido */
    min-height: 100px; /* Para que no sea demasiado pequeño */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Asegura que el contenido esté centrado */
}

/* Imagen derecha abajo */
.motivation-right-bottom {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

/* Estilos para la barra superior */
.top-bar {
    background-color: #134121; /* Verde oscuro */
    color: white;
    padding: 10px 0;
    text-align: right;
    font-size: 0.9rem;
    padding: 5px 30px;

}

.top-bar .social-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.1rem;
}

.top-bar .social-links a:hover {
    color: #12972f; /* Verde más claro al hacer hover */
}

/* Centrar todo el contenido del header */
.main-header {
    background-color: #f5fdf6cc; 
    border-bottom: 2px solid #134121; /* Línea verde separadora */
    padding: 10px 10px;
    width: 80%; /* Menú ocupa el 80% del ancho de la pantalla */
    margin: 0 auto; /* Centra horizontalmente el contenedor principal */
    display: flex;
    justify-content: center; /* Centra el contenido del menú */
    align-items: center; /* Centra verticalmente */
    flex-wrap: wrap; /* Permitir que los elementos se acomoden en varias filas si es necesario */
}


nav {
    display: flex;
    justify-content: space-between; /* Para que el menú y la búsqueda se distribuyan correctamente */
    align-items: center; /* Centra el contenido del menú verticalmente */
    width: 100%; /* Asegura que el nav ocupe todo el ancho */
    margin: 0 auto; /* Centra el nav en la pantalla */

}

.main-header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.menu-left li {
    margin-right: 20px;
}


.menu-left li a {
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}


.menu-left li a.active {
    background-color: #134121; /* Fondo verde para el enlace activo */
    color: white;
    border-radius: 8px;
    width: 100%;
}

.menu-left li a:hover {
    color: white;
    background-color: #134121; /* Fondo verde para el enlace activo */
    border-radius: 8px;
}

/* Estilos para el contenedor de búsqueda */
.search-container {
    position: absolute;
    top: 30px;
    width: 80%;
    height: 20%;
    background-color: #f5fdf6;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 10px;
    z-index: 100;
    border-bottom: 1px solid #134121;
    border-radius: 8px;
}

/* Estilos del botón de cerrar */
.search-container .close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    color: #134121;
    background-color: transparent;
}

/* Para que el contenedor de búsqueda aparezca */
.search-container.active {
    display: flex;
}

.search-container input {
    width: 60%;
    padding: 10px;
    border: none; /* Elimina el borde */
    font-size: 1.2rem;
    background-color: transparent; /* Fondo transparente */
    color: #134121; /* Color del texto */
    outline: none; /* Elimina el contorno */    
}


.search-btn {
    background-color: transparent;
    color: #134121;
    padding: 8px;
    border: none; /* Quita el borde */
    outline: none; /* Quita el borde al hacer clic */
    cursor: pointer;
    border-radius: 4px;
}

/* Overlay semitransparente */
.search-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Color negro semitransparente */
    display: none; /* Se oculta inicialmente */
    z-index: 90; /* Debe estar por debajo del contenedor de búsqueda */
}

/* Mostrar el overlay cuando se active el buscador */
.search-overlay.active {
    display: block; /* Se muestra el overlay */
}

.search-input{
    background-color:f5fdf6;
}

.search-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto; /* Empuja la barra de búsqueda hacia la derecha */
}

/* Barra de búsqueda */
.search-right input {
    padding: 8px;
    border-radius: 4px;
    background-color: #f5fdf6cc; 

    margin-right: 10px;
}
/* Estilos del botón de cerrar */
.search-close-btn {
    position: absolute;
    top: 10px; /* Posiciona la "X" hacia abajo 10px desde la parte superior */
    right: 20px; /* Posiciona la "X" a 20px del borde derecho */
    cursor: pointer;
    font-size: 1.5rem;
    color: #134121;
    background-color: transparent; /* Fondo transparente */
    border: none; /* Elimina el borde */
    outline: none; /* Elimina el contorno al hacer clic */
}

.menu-left {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center; /* Alinear todo el contenido del menú al centro */
    flex-grow: 1; /* Hace que el menú ocupe el espacio disponible */
    width: 80%;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin: 0 15px;
    padding: 10px 0;
}

header nav ul li a {
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    padding: 10px 10px;
    background-color: transparent;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    align-items: center;

}

.dropdown:hover .dropbtn,
.dropdown-content .dropdown:hover > a,
.sub-dropdown-content a:hover
.sub-dropdown-content a.active
.dropdown-content a:hover
.dropdown-link.active,
.sub-dropdown-link.active  {
    background-color: #134121; 
    color: white;
}

/* Estilos del dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f5fdf6;
    width: 80%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
    z-index: 100;
    right: 0;
    border-radius: 3px;
    top: 100%; /* Despliega hacia abajo respecto al botón */
    min-width: 100%;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:last-child {
    border-bottom: none; /* Elimina la línea del último elemento */
}


.dropdown:hover .dropdown-content {
    display: block;
}

/* Submenús de segundo nivel */
.sub-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f5fdf6;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    top: 0; /* Misma altura que el menú de primer nivel */
    left: 100%; /* Despliega hacia la derecha */

}

.sub-dropdown-content a {
    padding: 10px;
    white-space: nowrap;
}

/* Mostrar submenús al hacer hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content .dropdown:hover .sub-dropdown-content {
    display: block;
}

.dropbtn {
    padding: 10px 12px;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.dropbtn:hover {
    background-color: #134121; /* Fondo verde para el enlace activo */
    color: white;
    border-radius: 3px;

}
main {
    flex-grow: 1; 
}
.container {
    margin: 20px auto; /* Centra el contenedor horizontalmente y da margen arriba/abajo */
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Sombra */
    width: 90%; /* Ajusta el ancho del contenedor */
}

.container-nobox {
    margin: 20px auto; /* Centra el contenedor horizontalmente y da margen arriba/abajo */
    padding: 20px;
    border-radius: 12px;
    text-align: justify;
    width: 90%; /* Ajusta el ancho del contenedor */
}
/* Footer Styling */
footer {
    background-color: #134121;
    color: white;
    text-align: center;
    padding:  0;
    position: relative;
    width: 100%;

}

footer img {
    height: 40px;
    vertical-align: middle;
    margin-bottom: 10px;
}

footer a {
    color: #4CAF50;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #388E3C;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #388E3C;
}

/* Gráfico */
#graph {
    width: 100%;
    height: 60vh;
    margin: auto;
}

/* Estilo principal para la sección de gráfica y formulario */
.graph-and-form {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px; /* Espacio entre el gráfico y el formulario */
    width: 100%;
}


/* Estilo para el contenedor de "Punto más cercano" */
#closestResult {
    padding: 20px;
    background-color: #f0f8ff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
    margin-right: 20px;
    height: 55vh;

}

#closestResult h2 {
    color: #1b2f2d;
    text-align: center;
    margin-bottom: 20px;
}

#textForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin: 20px auto; /* Centra el contenedor horizontalmente y da margen arriba/abajo */

}

#textForm label {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #1b2f2d;
}

#textForm input {
    padding: 12px;
    font-size: 1.1rem;
    border-radius: 8px;
    border: 1px solid #ddd;
    width: 100%;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

#textForm button {
    padding: 12px 25px;
    margin-top: 15px;
    font-size: 1.1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

#textForm button:hover {
    background-color: #f5fdf6;
}

#closestPointInfo {
    font-size: 1.2rem;
    color: #333;
    text-align: center;
}

/* Tarjetas explicativas */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
    margin: 20px auto; /* Centra el contenedor horizontalmente y da margen arriba/abajo */
    width: 92%;
}

.card_geo {
    flex-basis: 30%;
    background-color: #f9f9f9;
    padding: 20px;
    margin: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: justify;
}

.card h2 {
    font-size: 1.5rem;
    color: #1b2f2d;
    text-align: center;
    margin-bottom: 15px;
}

.card p {
    font-size: 1.1rem;
    color: #4a706b;
}


.logo-container {
    text-align: center;
    padding: 20px 0 20px 0;
    background-color: #f5fdf6cc;

}

.footer-logo {
    width: 150px;
    opacity: 0.8;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.footer-logo:hover {
    opacity: 1;
    transform: scale(1.1);
}

/* Parallax Container */
.parallax-container {
    position: relative;
    height: 50hv;
    background-color: #f5fdf6cc;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.inspiration-container {
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px;
    width: 90%;
    margin: 20px auto; /* Centra el contenedor horizontalmente y da margen arriba/abajo */

}

.inspiration-container .card {
    flex-basis: 30%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 1.1rem;
    color: #333;
    transition: transform 0.2s ease-in-out;
}

.inspiration-container .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.inspiration-container .card p {
    font-style: italic;
    color: #333;
}

.code-block {
    display: flex; /* Activa flexbox */
    flex-direction: column; /* Asegura que los elementos hijos estén en una columna */
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    text-align: center; /* Alinea el texto al centro */
    width: 50%; /* Ajusta el ancho del bloque de código */
    margin: 0 auto; /* Centra el bloque de código en relación con su contenedor */
}


/* Flexbox container for map and controls */
.container_geo {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding: 20px;
    margin: 0 auto;
    width: 80%;
    flex-wrap: wrap;
}
.container_buttons {
    display: flex;
    gap: 20px;
    transform: translateX(10%); /* Mueve el contenedor 40px a la izquierda */
    width: 80%;
    flex-wrap: wrap;
}

/* CSS para centrar las fórmulas */
.formula {
    text-align: center;   /* Centrar el texto */
    display: block;       /* Asegurarse de que se trate como un bloque */
    margin: 20px 0;       /* Margen para separar las fórmulas del contenido */
    font-size: 1.2em;     /* Ajustar el tamaño de la fuente, puedes cambiarlo */
}

.formula em {
    font-style: normal;   /* Eliminar la cursiva para las fórmulas */
    font-family: 'Times New Roman', serif; /* Cambiar la fuente a algo más formal si es necesario */
}



#controls {
width: 20%; /* Asegura que los controles ocupen el 20% del ancho */
text-align: left;
padding: 20px;
box-sizing: border-box;
border-radius: 8px;
background-color: white;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#city-controls {
    width: 20%; /* Asegura que los controles ocupen el 20% del ancho */
    text-align: left;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }
    



label[for="opacityRange"] {
display: block;
margin-top: 20px;
text-align: center;
}

input[type="range"] {
width: 100%;
margin-bottom: 20px;
}

/* Legend styling */
#legend {
font-size: 14px;
background: rgba(255, 255, 255, 0.8);
padding: 10px;
border-radius: 5px;
}

#legend i {
width: 18px;
height: 18px;
margin-right: 8px;
opacity: 0.7;
display: inline-block;
}


#map {
    height: 500px;
    width: 70%; /* 75% of the width for the map */
    margin-right: 20px; /* Add space between map and controls */
    border: 2px solid #d3d3d3;
    border-radius: 2rem;
}

#city-map {
    height: 500px;
    width: 70%; /* 75% of the width for the map */
    margin-right: 20px; /* Add space between map and controls */
    border: 2px solid #d3d3d3;
    border-radius: 2rem;
}



.w-full {
    width: 100%;
}


.percentage-label {
padding: 2px;
background-color: rgba(255, 255, 255, 0.5);
width: fit-content!important;
border-radius: 5px;
color: black;
font-weight: bold;
text-align: center;
}


.card_geo {
width: 80%;
text-align: left;
background-color: white;
padding: 20px;
border-radius: 8px;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


#analyze-grid {
display: block; /* Hace que el botón ocupe toda la línea */
margin: 0 auto; /* Centra el botón horizontalmente */
padding: 10px 20px;
background-color: #27ae60;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s ease;
}

#analyze-grid-city {
    display: block; /* Hace que el botón ocupe toda la línea */
    margin: 0 auto; /* Centra el botón horizontalmente */
    padding: 10px 20px;
    background-color: #27ae60;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px
    }

#analyze-grid:hover {
background-color: #219150;
}

/* Flexbox container for map and controls */


#Change_city {
    display: block; /* Hace que el botón ocupe toda la línea */
    margin: 0 auto; /* Centra el botón horizontalmente */
    padding: 10px 20px;
    background-color: #27ae60;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px
    }

/* Hacer que los elementos se apilen uno sobre otro en pantallas pequeñas */
@media (max-width: 768px) {
    .graph-and-form {
        flex-direction: column;
        align-items: center; /* Centrar los elementos al apilarlos */
    }
    .sub-dropdown-content {
        position: relative;
        top: auto; /* Resetear la posición superior */
        left: 0; /* Asegurarse de que no se mueva hacia la derecha */
        margin-top: 10px; /* Añadir un margen superior para espaciar el submenú */
    }
    #graph {
        width: 95%;
        height: 50%;
    }

    #closestResult {
        width: 100%;
        margin-top: 20px;
        height: 30vh;
        .motivation-container {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
        }
    
        .motivation-right-top,
        .motivation-right-bottom {
            grid-column: 1 / 2;
        }
    }

}




