{% extends "base.html" %}

{% block title %}GeoGreen View{% endblock %}

{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link
rel="stylesheet"
href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
/>

<h2 class= "title-page">GeoGreenView</h2>

<div class="motivation-container">
  <!-- Parte superior izquierda: Motivación -->
  <div class="motivation-left">
    <h2>Motivación</h2>
    <p>Este proyecto nació como parte de un hackatón, cuyo objetivo era aprovechar los <strong>Sistemas de Información Geográfica (SIG)</strong> para enfrentar una problemática en la comunidad. Tras analizar diversas opciones, se identificó que uno de los mayores desafíos en Puebla es la <strong>falta de áreas verdes</strong>.</p>
    
    <p>En las últimas décadas, Puebla ha experimentado un rápido crecimiento urbano que ha reducido los espacios naturales. A diferencia de otras ciudades con grandes parques o reservas naturales, <strong>Puebla carece de suficientes áreas verdes significativas</strong>. Esto afecta directamente la calidad de vida de sus habitantes y tiene consecuencias negativas en el medio ambiente. Ante esto, surgió la pregunta clave: <strong>¿qué porcentaje del territorio de la ciudad está cubierto por áreas verdes?</strong> Desarrollar una herramienta que permita cuantificar esta información y visualizarla claramente se convirtió en el objetivo principal.</p>
    
    <p>Así nació <strong>GeoGreenView</strong>, una plataforma cuyo propósito es medir y mostrar el porcentaje de áreas verdes en Puebla, facilitando tanto a ciudadanos como a planificadores urbanos el acceso a esta información. Utilizando imágenes satelitales y algoritmos especializados, se busca ofrecer datos precisos sobre la vegetación en diferentes zonas de la ciudad.</p>
</div>


  <!-- Parte superior derecha: Imagen relacionada con el problema -->
  <div class="motivation-right-top">
      <img src="/static/images/comunityproblem.webp" alt="Imagen relacionada con la motivación">
  </div>

  <!-- Parte inferior izquierda: Línea de pensamiento y proceso creativo -->
  <div class="thoughts-creative-left">
    <h3>Línea de Pensamiento</h3>
    <p>El principal reto al desarrollar GeoGreenView fue encontrar una forma eficaz de medir el porcentaje de vegetación en una ciudad tan extensa como Puebla. Se sabía que los SIG jugarían un papel fundamental, pero se necesitaba traducir las imágenes satelitales en datos útiles para el análisis. La solución implementada fue dividir la ciudad en una cuadrícula de secciones manejables, permitiendo analizar cada una de estas áreas de forma independiente. Esta decisión permitió experimentar con diferentes tamaños de cuadrícula para lograr un balance entre el nivel de detalle y la velocidad de procesamiento. Finalmente, se logró un sistema que mantenía la precisión sin comprometer el rendimiento.</p>

    <p>El siguiente desafío fue desarrollar un algoritmo capaz de detectar vegetación en las imágenes satelitales. Aquí entró en juego el análisis de los colores en las imágenes, utilizando índices de vegetación como el <strong>NDVI</strong> para mejorar la precisión. A pesar de que los tonos de verde suelen indicar vegetación, fue necesario ser cuidadoso con los elementos urbanos que podrían generar confusiones, como techos o sombras.</p>

    <p>Luego de establecer el algoritmo, el paso lógico fue visualizar los datos. Se implementó un sistema de colores donde el verde representa áreas con mayor vegetación y el rojo aquellas con menos. Este sistema no solo es intuitivo para el público general, sino que ofrece una herramienta visual poderosa para los planificadores urbanos. Con la cuadrícula y el algoritmo en funcionamiento, se integró <strong>Leaflet.js</strong> para permitir a los usuarios interactuar con los mapas, visualizando en tiempo real el porcentaje de vegetación en cada sección de la ciudad. Aunque el proyecto comenzó con Puebla, el enfoque modular de GeoGreenView lo convierte en una solución escalable que podría aplicarse en otras ciudades que enfrenten desafíos similares en cuanto a la distribución de áreas verdes.</p>
  </div>

  <!-- Parte inferior derecha: Imagen relacionada con el proceso creativo -->
  <div class="motivation-right-bottom">
      <img src="/static/images/creativo.webp" alt="Imagen relacionada con el proceso creativo">
  </div>
</div>

<div class="container">
  <h2>Mapeando Espacios Verdes Urbanos para un Futuro Más Verde</h2>
  <p><strong>GeoGreenView</strong> es una herramienta web interactiva diseñada para analizar y comparar las áreas verdes en zonas urbanas, comenzando con Puebla. A través de una interfaz intuitiva, los usuarios pueden explorar la distribución de la vegetación en la ciudad, dividida en cuadrículas, y visualizar los resultados a partir del análisis de imágenes satelitales.</p>

  <h3>¿Cómo funciona?</h3>
  <p>Se utilizan imágenes satelitales de Google Maps, dividiendo las ciudades en cuadrículas y aplicando un algoritmo personalizado para detectar vegetación en cada sección. Los resultados se presentan en una plataforma interactiva donde los usuarios pueden explorar las diferentes áreas, comparar los niveles de vegetación y obtener una visión más clara de la distribución verde en la ciudad.</p>
</div>


<div class="parallaxgeogreen"></div>

<div class="container">
  <h3>GeoGreen aplicado en Puebla</h3>
  <p><strong>GeoGreenView</strong> se implementa en la ciudad de Puebla, donde se analiza y visualiza los espacios verdes. Al dividir la ciudad en cuadrículas y utilizando datos satelitales, evaluamos la distribución de la vegetación y su impacto en el medio ambiente y la planificación urbana.</p>
</div>

    
<div class="container_geo">
    <div id="map"></div>
    <div id="controls">
    <button id="analyze-grid">Analizar cuadrículas</button>
    
    <!-- Opacity Slider -->
    <label for="opacityRange">Opacidad: </label>
    <input type="range" id="opacityRange" min="10" max="100" value="10" />
    
        <!-- Legend for Vegetation Levels -->
    <div id="legend">
        <h4>Niveles de vegetación</h4>
        <i style="background: red"></i> <b>Bajo</b> (0-10%)<br />
        <i style="background: orange"></i>
        <b>Medio-Bajo </b>(10-20%)<br />
        <i style="background: yellow"></i> <b>Medio</b> (20-30%)<br />
        <i style="background: yellowgreen"></i
        ><b>Medio-Alto</b> (30-50%)<br />
        <i style="background: green"></i><b>Alto</b> (50-100%)<br />
    </div>
    </div>
    </div>



<div class="container-nobox">
  <h3>¿Por qué es importante?</h3>
  <p>Los espacios verdes juegan un papel esencial en la calidad de vida urbana. Desde promover actividades físicas hasta mitigar el impacto del cambio climático, estos espacios son fundamentales para mejorar la salud tanto física como mental de los habitantes, y también para reducir el efecto de isla de calor urbana, una preocupación creciente en ciudades como Puebla.</p>

  <p>Los espacios verdes fomentan la actividad física, mejoran la salud mental y reducen el estrés. Además, contribuyen a la mitigación del cambio climático, reducen el calor urbano y mejoran la calidad del aire al absorber contaminantes
  <a href="https://www.weforum.org/agenda/2021/05/nature-green-space-urban-cities-exercise-fresh-air/" class="reference-link" target="_blank">[1]</a>
        <a href="https://www.nhm.ac.uk/discover/why-we-need-green-spaces-in-cities.html" class="reference-link" target="_blank">[2].</a>
    </p>

      <p>GeoGreenView aspira a concienciar a la población y a proporcionar a los responsables de la planificación urbana una herramienta para tomar decisiones basadas en datos
      <a href="https://www.isglobal.org/en/healthisglobal/-/custom-blog-portlet/why-more-green-space-is-essential-for-cities/4735173/0" class="reference-link" target="_blank">[3].</a>

    </p>

    <h3>¿Qué porcentaje de las ciudades debería ser de áreas verdes?</h3>
    <p>
      El porcentaje recomendado de áreas verdes en una ciudad es un tema de creciente interés, ya que estos espacios juegan un papel crucial en la calidad de vida urbana. Según la Organización Mundial de la Salud (OMS), se sugiere que cada ciudad debería contar con al menos 9 metros cuadrados de área verde por habitante para garantizar una vida saludable. Sin embargo, algunos expertos y organizaciones ambientales abogan por metas aún más ambiciosas.
    </p>
    <p>
      Diversos estudios han indicado que aproximadamente entre el 15-20% del territorio urbano debería estar destinado a áreas verdes. Este porcentaje puede variar dependiendo de la densidad poblacional y las características geográficas de cada ciudad. En regiones densamente pobladas, como algunas megaciudades, alcanzar estos niveles puede ser un desafío, lo que refuerza la necesidad de diseñar y planificar estratégicamente los espacios verdes para garantizar un acceso equitativo a todos los residentes.
    </p>
    <p>
      Contar con un mayor porcentaje de áreas verdes no solo proporciona beneficios estéticos y recreativos, sino que también es crucial para la sostenibilidad ambiental de las ciudades. Los espacios verdes ayudan a mejorar la calidad del aire, reducen el efecto de isla de calor urbana y mitigan los efectos del cambio climático al absorber CO2. Además, promueven la biodiversidad local y ofrecen espacios seguros para la interacción social y la recreación.
    </p>
    <p>
      En definitiva, mientras más áreas verdes tenga una ciudad, mejor será la calidad de vida de sus habitantes. Las áreas verdes no son un lujo, sino una necesidad vital para el bienestar físico y mental de las poblaciones urbanas.
    </p>
</div>

<div class="container-nobox">
    <h2>Copenhague: Un Modelo de Espacios Verdes Urbanos</h2>
    <img src="{{ url_for('static', filename='images/copenhagen.jpg') }}" 
    alt="Copenhagen Green Spaces"> 
        <p>
      Copenhague, Dinamarca, es un ejemplo mundial de planificación urbana verde, integrando espacios naturales en su desarrollo de manera armónica. Con el objetivo de ser carbono-neutral para 2025, Copenhague muestra que el desarrollo sostenible es fundamental para mejorar la calidad de vida.
    </p>
    <p>
      Con parques, calles arboladas y techos verdes, la ciudad ha logrado reducir el calor urbano, mejorar la calidad del aire y ofrecer espacios recreativos para sus ciudadanos. GeoGreenView sigue este modelo, enfocándose en cómo se distribuyen las áreas verdes en las ciudades, permitiendo a los usuarios visualizar, a través de datos en tiempo real, cómo se distribuye la vegetación en cada área de Puebla.
    </p>
    <p>
      La cuadrícula de la imagen representa la proporción de vegetación en diferentes partes de la ciudad. Al igual que en Copenhague, GeoGreenView tiene como objetivo ayudar a las ciudades a mejorar su infraestructura verde, asegurando que las áreas verdes sean una prioridad en la planificación urbana futura.
    </p>
</div>
    
<div class="container">
    <h2>Selecciona Otras Ciudades en México</h2>
    <p>Elige una ciudad de la lista a continuación para explorar sus áreas verdes utilizando la herramienta GeoGreenView.</p>
</div>


<div class="container_buttons">      
    <!-- City selection buttons -->
    <button id= "Change_city", onclick="moveToCity(19.4326, -99.1332, 13)">Ciudad de México</button>
    <button id= "Change_city", onclick="moveToCity(20.6597, -103.3496, 13)">Guadalajara</button>
    <button id= "Change_city", onclick="moveToCity(25.6866, -100.3161, 13)">Monterrey</button>
    <button id= "Change_city", onclick="moveToCity(21.1619, -86.8515, 13)">Cancún</button>
    <button id= "Change_city", onclick="moveToCity(19.0413, -98.2062, 13)">Puebla</button>
</div>

<div class="container_geo">      

    <div id="city-map"></div>
    <div id="city-controls">
        <button id="analyze-grid-city">Analizar cuadrículas</button>
    
        <!-- Slider de opacidad -->
        <label for="opacityRangeCity">Opacidad: </label>
        <input type="range" id="opacityRangeCity" min="10" max="100" value="10" style="width: 100%;" />
    
        <!-- Leyenda de niveles de vegetación -->
        <div id="legend">
          <h4>Niveles de vegetación</h4>
          <i style="background: red"></i> <b>Bajo</b> (0-10%)<br />
          <i style="background: orange"></i>
          <b>Medio-Bajo </b>
          (10-20%)<br />
          <i style="background: yellow"></i> <b>Medio</b> (20-30%)<br />
          <i style="background: yellowgreen"></i
          ><b>Medio-Alto</b> (30-50%)<br />
          <i style="background: green"></i><b>Alto</b> (50-100%)<br />
        </div>
      </div>
    </div>

</div>       


<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

<script>
  var map = L.map("map").setView([19.0413, -98.2062], 14); // Puebla coordinates
  var googleSatLayer = L.tileLayer(
    "https://mt1.google.com/vt/lyrs=s&x={x}&y={y}&z={z}",
    {
      attribution: "Map data ©2024 Google",
      maxZoom: 20,
    }
  );
  googleSatLayer.addTo(map);

  var gridLayer;
  var currentOpacity = 0.1; // Initial opacity value from slider

  // Get the opacity slider element
  var opacitySlider = document.getElementById("opacityRange");

  // Listen for slider value changes
  opacitySlider.addEventListener("input", function () {
    currentOpacity = opacitySlider.value / 100;
    gridLayer.eachLayer(function (layer) {
      if (layer instanceof L.Rectangle) {
        layer.setStyle({ fillOpacity: currentOpacity });
      }
    });
  });

  // Function to draw grid
  function addGrid() {
    gridLayer = L.layerGroup();
    var zoom = 13;
    var step = zoom >= 17 ? 0.001 : zoom >= 15 ? 0.005 : 0.009;
    //var step = 0.01;

    var bounds = map.getBounds();
    var southWest = bounds.getSouthWest();
    var northEast = bounds.getNorthEast();

    for (
      var lat = Math.floor(southWest.lat / step) * step;
      lat < northEast.lat;
      lat += step
    ) {
      for (
        var lng = Math.floor(southWest.lng / step) * step;
        lng < northEast.lng;
        lng += step
      ) {
        var rect = L.rectangle(
          [
            [lat, lng],
            [lat + step, lng + step],
          ],
          {
            color: "#ff7800",
            weight: 1,
            fillOpacity: currentOpacity,
          }
        );
        rect.addTo(gridLayer);
      }
    }
    gridLayer.addTo(map);
  }

  // Function to get color based on vegetation percentage
  function getVegetationColor(porcentaje) {
    return porcentaje > 50
      ? "green"
      : porcentaje > 30
      ? "yellowgreen"
      : porcentaje > 20
      ? "yellow"
      : porcentaje > 10
      ? "orange"
      : "red";
  }

  // Function to analyze each grid cell
  function analyzeGrid() {
    var rectangles = [];
    gridLayer.eachLayer(function (layer) {
      if (layer instanceof L.Rectangle) {
        rectangles.push(layer);
      }
    });

    rectangles.forEach(function (rect) {
      var bounds = rect.getBounds();
      var center = bounds.getCenter();
      var lat = center.lat;
      var lng = center.lng;

      fetch("/process_tile", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          lat: lat,
          lng: lng,
          zoom: 13,
        }),
      })
        .then((response) => response.json())
        .then((data) => {
          var porcentaje = data.porcentaje_vegetacion;

          // Set the rectangle color and opacity based on vegetation percentage
          rect.setStyle({
            color: getVegetationColor(porcentaje),
            fillOpacity: currentOpacity,
          });

          // Add the percentage label on the grid
          var percentageLabel = L.marker(rect.getBounds().getCenter(), {
            icon: L.divIcon({
              className: "percentage-label",
              html: `${porcentaje.toFixed(2)}%`,
            }),
          }).addTo(gridLayer);
        })
        .catch((error) => {
          console.error("Error al analizar la cuadrícula:", error);
        });
    });
  }
  // Add grid to map
  addGrid();

  // Analyze grid on button click
  document.getElementById("analyze-grid").addEventListener("click", () => {
    analyzeGrid();
  });

  // Redraw grid on map movement or zoom
  map.on("moveend", function () {
    map.removeLayer(gridLayer);
    addGrid();
  });

  // Initialize a new map for city selection in the "city-map" div
var cityMap = L.map("city-map").setView([19.4326, -99.1332], 13); // Default to Mexico City
var googleCityLayer = L.tileLayer(
"https://mt1.google.com/vt/lyrs=s&x={x}&y={y}&z={z}",
{
attribution: "Map data ©2024 Google",
maxZoom: 20,
}
);
googleCityLayer.addTo(cityMap);

var cityGridLayer;
var currentCityOpacity = 0.1; // Initial opacity value for second map slider

// Get the opacity slider for the second map
var opacitySliderCity = document.getElementById("opacityRangeCity");

// Listen for slider value changes (second map)
opacitySliderCity.addEventListener("input", function () {
currentCityOpacity = opacitySliderCity.value / 100;
cityGridLayer.eachLayer(function (layer) {
if (layer instanceof L.Rectangle) {
  layer.setStyle({ fillOpacity: currentCityOpacity });
}
});
});

// Function to draw grid on the second map
function addCityGrid() {
cityGridLayer = L.layerGroup();
var zoom = 13;
var step = zoom >= 17 ? 0.001 : zoom >= 15 ? 0.005 : 0.009;

var bounds = cityMap.getBounds();
var southWest = bounds.getSouthWest();
var northEast = bounds.getNorthEast();

for (
var lat = Math.floor(southWest.lat / step) * step;
lat < northEast.lat;
lat += step
) {
for (
  var lng = Math.floor(southWest.lng / step) * step;
  lng < northEast.lng;
  lng += step
) {
  var rect = L.rectangle(
    [
      [lat, lng],
      [lat + step, lng + step],
    ],
    {
      color: "#ff7800",
      weight: 1,
      fillOpacity: currentCityOpacity,
    }
  );
  rect.addTo(cityGridLayer);
}
}
cityGridLayer.addTo(cityMap);
}

// Function to analyze each grid cell on the second map
function analyzeCityGrid() {
var rectangles = [];
cityGridLayer.eachLayer(function (layer) {
if (layer instanceof L.Rectangle) {
  rectangles.push(layer);
}
});

rectangles.forEach(function (rect) {
var bounds = rect.getBounds();
var center = bounds.getCenter();
var lat = center.lat;
var lng = center.lng;

fetch("/process_tile", {
  method: "POST",
  headers: {
    "Content-Type": "application/json",
  },
  body: JSON.stringify({
    lat: lat,
    lng: lng,
    zoom: 13,
  }),
})
  .then((response) => response.json())
  .then((data) => {
    var porcentaje = data.porcentaje_vegetacion;

    // Set the rectangle color and opacity based on vegetation percentage
    rect.setStyle({
      color: getVegetationColor(porcentaje),
      fillOpacity: currentCityOpacity,
    });

    // Add the percentage label on the grid
    var percentageLabel = L.marker(rect.getBounds().getCenter(), {
      icon: L.divIcon({
        className: "percentage-label",
        html: `${porcentaje.toFixed(2)}%`,
      }),
    }).addTo(cityGridLayer);
  })
  .catch((error) => {
    console.error("Error analyzing grid:", error);
  });
});
}

// Add city grid to the second map
addCityGrid();

// Analyze grid on the second map when the button is clicked
document.getElementById("analyze-grid-city").addEventListener("click", () => {
analyzeCityGrid();
});

// Redraw the grid on the second map when it moves or zooms
cityMap.on("moveend", function () {
cityMap.removeLayer(cityGridLayer);
addCityGrid();
});

// Function to move the map to the selected city
function moveToCity(lat, lng, zoom) {
cityMap.setView([lat, lng], zoom);
}


</script>

<div class="logo-container">
    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="footer-logo">
</div>

{% endblock %}
