{% extends "base.html" %}

{% block title %}Historia de la IA - Parallax en varias zonas{% endblock %}

{% block content %}

<!-- Sección con Parallax para Historia de la IA -->

<!-- Contenido adicional después de la imagen de parallax -->
<div class="container">
    <h1>Historia de la Inteligencia Artificial</h1>
    <p>La historia de la IA ha evolucionado considerablemente a lo largo de las décadas...</p>
</div>
<div class="parallaxhistoria"></div>

<!-- Segunda sección de contenido -->
<div class="container">
    <h2>La IA en la actualidad</h2>
    <p>Hoy en día, la inteligencia artificial está en todas partes, desde automóviles autónomos hasta asistentes virtuales...</p>
</div>

<!-- Segunda sección de contenido -->
<div class="container">
    <h2>La IA en la actualidad</h2>
    <p>Hoy en día, la inteligencia artificial está en todas partes, desde automóviles autónomos hasta asistentes virtuales...</p>
</div>


<!-- Segunda sección de contenido -->
<div class="container">
    <h2>La IA en la actualidad</h2>
    <p>Hoy en día, la inteligencia artificial está en todas partes, desde automóviles autónomos hasta asistentes virtuales...</p>
</div>


{% endblock %}
